@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: rgb(29, 32, 32);
    font-family: "Roboto";
    color: white;
}
i{
    color: white;
}

#nav{
    /* border: 1px solid white; */
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10000;
}
#line{
    /* border: 1px solid white; */
    width: 20px;
    padding: 15px;
    font-size: 20px;
    color: white;
}
#img{
    /* border: 1px solid white; */
    padding: 4px;
}
#searchbar{
    /* border: 1px solid white; */
    width: 550px;
    height: 65px;
    margin-left: 190px;
}
#search{
    width: 550px;
    height: 50px;
    padding: 15px;
    margin-top: 7px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
}
#search:focus{
    outline: 1px solid rgb(0, 115, 255)
}
#searchbtn{
/* border: 1px solid white; */
width: 70px;
height: 65px;
}
#searchbtn>button>i{
    color: white;
    font-size: 30px;
    background-color: rgb(69, 67, 67)
}
#searchbtn>button{
    width: 70px;
    height: 50px;
    margin-top: 7px;
    border: none;
    background-color: rgb(69, 67, 67);
    cursor: pointer;
}

#divinnav{
    /* border: 1px solid red; */
    margin-left: 190px;
    width: 250px;
    display: flex;
}
.icons{
    /* border: 1px solid white; */
    width: 50px;
    margin-left: 20px;
}
#profile{
    /* border: 1px solid white; */
    width: 60px;
    border-radius: 50px;
}
.icons>i{
    color:  white;
}
#videoCall{
    padding: 15px
}

#noti{
    padding: 15px;
}
#grid{
    padding: 15px;
}
#profile>img{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
}

#container{
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 70px;
}
/* #container>div{
    border: 1px solid red;
} */
#thumb{
    width: 400px;
    height: 200px;
    padding: 20px;
    cursor: pointer;
}
#container>div>h4{
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}
#container>div>p{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 50;
    margin-left: 20px;
    line-height: 50px;
}